@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh; 
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #c9eaff;
   
  }
  .card-img {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
.card {
    max-width: 500px;
    margin-right: 30px;
    float: right;
    width: 50%;
    height: 70%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  
  .card-title {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 8%;
  }
  
  .card-form {
    text-align: left;
    padding: 2rem;
  }
  
  .card-form-group {
    margin-bottom: 1.3rem;
  }
  
  .card-form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .card-form-group input[type="text"],
  .card-form-group input[type="password"] {
    width: 85%;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    align-items: center;
    margin-bottom: 1.3rem;
    display: flex;
    flex-direction: column;
    cursor:pointer;
  
  }
  
  .card-button {
    text-align: center;
    margin-top: 2rem;
  }
  
  .card-button button {
    height: 50px;
    width: 70%;
    background: #29AA26;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card-button button:hover {
    background-color: #29AA26;
  }
  
  .card p {
    font-weight: 500;
    border: none;
    height: 50px;
    background: #E2F4FF;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    padding-top: 3%;
    border-radius: 8px;
  }
  
  .card p a {
    color: #29AA26;
    text-decoration: none;
    font-weight: 500;
  }
  
  .card p a:hover {
    text-decoration: underline;
    color: #29AA26;
  }
  