@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@400;600&family=Source+Serif+Pro:wght@400;700&display=swap');


*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --header-height: 3rem;
    --first-color: #76E1BC;
    --second-color: #A8D672;
    --input-color: #e2f4ff;
    --brand-color: #1BB580;
    --button-color: #2BAFD9;
    --button-login-color: #29AA26;
    --number-color: #E2F4FF;
    --button-tolak-color: #EB5353;
    --text-color: #000000;
    --text-second-color: #515151;
    --text-label-color: #5B636A;
    --footer-text-color: #302F2F;
    --text-font: 'Poppins', sans-serif;
    --title-font: 'Source Serif Pro', serif;
    --brand-font: 'Patua One', cursive;
    --title-main-size: 4.063rem; 
    --brand-size: 1.45rem;
    --nav-size: 0.938rem;
    --title-size: 1.875rem;
    --label-size: 1.275rem;
    --text-size: 1rem;
    --title-weight: 700;
    --button-weight: 600;
    --text-weight: 400;
   
}

ul{
    list-style: none;
}

span{
    color: var(--brand-color);
}

/* =========================== NAV ============================== */
.navigation{
    display: flex;
    align-items: center;
}

.nav_brand{
    font-family: var(--brand-font);
    font-size: var(--brand-size);
    color: #252525;
}

.nav_list{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.nav_item:not(:last-child) {
    margin-right: 1rem;
}

.nav_item{
    position: relative;
}

.nav_link{
    color: var(--text-color);
    margin: auto 0;
    text-decoration: none;
    font-size: var(--nav-size);
    display: inline-block; 
    font-family: var(--text-font);
}


.nav-user{
    display: block;
    padding-top: .3rem;
    color: var(--brand-color);
    font-family: var(--text-font);
    font-size: var(--nav-size);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#submenu-user{
    height: 75px;
}

#nav-dashboard, #nav-keluar{
    padding: .2rem .4rem;
    color: #000000;
    text-decoration: none;
    font-family: var(--text-font);
    font-size: var(--nav-size);
    background-color: transparent;
}

#nav-dashboard:hover, #nav-keluar:hover{
    opacity: .4;
}

#masuk{
    font-size: var(--nav-size);
}

.icon-masuk{
    position: relative;
    top: 1px;
    margin-right: .2rem;
}

#navbarDropdown:hover{
    color: var(--brand-color);
    opacity: .6;
}

#dropdown-width{
    min-width: 1rem;
}

#dropdown-divider{
    margin: .1rem 0;
}

.nav_link:hover, .submenu a:hover{
    color: var(--text-color);
    opacity: .7;
}


.submenuwisata, .submenugaleri, .submenupemandu, .submenuhubungi{
    display: none;
}


.submenuwisata.active, .submenugaleri.active, .submenupemandu.active, .submenuhubungi.active{
    display: block;
}

#submenuhubungi{
    width: 190px;
}

#submenuwisata{
    width: 230px;
}


.submenu a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--nav-size);
}

.submenu {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    top: calc(70% + 10px);
    left: 50%;
    width: 170px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: scroll;
    max-height: 80px;
}

/*================== Header ==========================*/
#landing-page_container{
    margin-top: 2.5rem;
}

.header{
    /* padding: 1.8rem 0 5rem 0; */
    padding-bottom: 5rem;
    max-height: 800px;
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    max-width: 1000px;
    color: var(--text-color);
    width: 100%;
    align-self: center;
    margin: 1.1rem 2rem 0 0;
}

.header_content{
    font-size: var(--title-main-size);
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    color: var(--text-color);
}

.image_content {
    display: flex;
    width: 10%;
    height: 10%;
    margin-left: 1rem;
    justify-content: flex-end;
    align-self: center;
}

.btn-pesan_landing, .btn-terima_wisatawan, .btn-tolak_wisatawan{
    padding: .3em 1.3em;
    border-radius: 10px;
    background-color: #1BB580;
    border: none;
}

.btn-tolak_wisatawan{
    background-color: var(--button-tolak-color);
}

.btn-pesan_landing a{
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--brand-font);
}

.btn-pesan_landing a:hover, .btn-detail a:hover, .nav_item a:hover, .btn-kembali a:hover, .btn-pesan a:hover{
    color: var(--text-color);
    text-decoration: none;
}

.btn-pesan_landing:hover, .btn-detail:hover, .button-kembali:hover, .btn-kirim:hover, .btn-terima:hover, .btn-tolak:hover, .btn-pesan:hover{
    opacity: .7;
}

.content p{
    color: var(--text-second-color);
}


/*=======================  Halaman Pemandu Wisata ===========================*/
#daftar_pemandu{
    margin-top: 3.3rem;
}
.rate {
  display: flex;
  align-items: center;
}

.rate p {
  margin-right: 10px;
  margin-bottom: 1rem;
}

.rate label {
  float: right;
  font-size: 2rem;
  color: lightgrey;
  margin-bottom: .85rem;
  margin-right: .2rem;
  text-shadow: 1px 1px #bbb;
}

.rate label:before {
  content: '★';
}

.rate :not(:checked) > label:hover,
.rate :not(:checked) > label:hover ~ label {
  color: gold;
}

.rate .result:before {
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  transform: translateX(-47%);
  bottom: -30px;
  font-size: 30px;
  font-weight: 500;
  color: gold;
  font-family: 'Poppins', sans-serif;
  display: none;
}

.rate input{
  display: none;
}




.title h1{
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    font-size: var(--title-size);
    padding-bottom: .4rem;
    border-bottom: 1px solid #252525;
    color: var(--text-color);
}

.daftar-pemandu{
    background-color: var(--second-color);
    box-shadow: 0px 6px 6px -5px rgba(0, 0, 0, 0.75);
    border-radius: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.left-content{
    font-family: var(--text-font);
    font-size: 1.375rem;
    color: var(--text-color);
    margin: 1rem 1rem 0 2rem;
}

.right-content{
    margin: .14rem .89rem;
    display: flex;
}

.button-detail{
    align-self: flex-end;
    margin: 0 2rem .7rem 0;
}

.button-pesan{
    align-self: flex-end;
    margin: 0 1rem .7rem 0;
}

.detail-pemandu, .text-pesan{
    font-size: 1.15rem;
    font-family: var(--brand-font);
    padding: .4rem .6rem;
    text-decoration: none;
    color: var(--text-color);
}

.btn-detail, .btn-pesan{
    padding: .3em .57em;
    border-radius: 10px;
    background-color: #1BB580;
    border: none;
}

.btn-detail, .button-kembali, .btn-terima{
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.biodata_wisatawan-title{
    font-size: var(--brand-size);
    font-family: var(--brand-font);
    margin-bottom: .7em;
    color: var(--text-color);
}

.biodata_wisatawan{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.biodata_wisatawan-content{
    position: relative;
    background-color: white;
    padding: 1.8rem;
    border-radius: .5rem;
}

.biodata_wisatawan-margin{
    row-gap: 1rem;
}

.data-wisatawan{
    display: flex;
}

.biodata_wisatawan-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.biodata-active{
    opacity: 1;
    visibility: visible;
}
/* =========================== Halaman Detail Pemandu ================================= */
.detail-content {
    display: flex;
    justify-content: space-between;
    background-color: #76E1BC;
    border-radius: 3.125rem;
    padding: 1.8rem 3rem;
    margin: 2rem 0;
}

.button-update:hover{
    background-color: var(--button-color);
    opacity: .7;
  }


  #btn-update{
    font-family: var(--brand-font);
    font-weight: 400;
  }

.mb-1 label{
    font-family: var(--text-font);
    font-size: var(--label-size);
    color: var(--text-label-color);
    font-weight: var(--text-weight);
}

.biodata-pemandu {
    float: left;
    width: 75%;
}

.foto-pemandu {
    margin-top: 1.9rem;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.form-control{
    border: 1px solid #252525;
}

.detail-input{
    font-family: var(--text-font);
}

.button-kembali{
    margin-top: auto;
    border-radius: 10px;
    border: none;
}

.button-kembali a{
    font-family: var(--brand-font);
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
}

a.btn-kembali svg {
    margin-right: 0.3rem;
}


/* ====================== Tempat Wisata ========================== */
.margin-wisata{
    margin-top: 2.5rem;
}

.blurb h1{
    font-family: var(--brand-font);
    font-size: var(--title-size);
}

.blurb p{
    font-family: var(--text-font);
    font-size: var(--nav-size);
    line-height: 1.7;
}


/* ============================= Hotel ============================== */
#hotel{
    margin-top: 3.3rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    opacity: .85;
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
}

.swiper-button-next::after{
    border-width: 16px 0 16px 23px;
    transform: translate(-50%, -50%);
}


.swiper-button-prev::after{
    transform: translate(-50%, -50%) rotate(180deg);
    border-width: 16px 0 16px 23px;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
}

.swiper-button-prev {
    left: 15px;
}

.swiper-button-next {
    right: 30px;
}

.custom-swiper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
} 

/* ===================== Halaman Hubungi ==================== */
.hubungi{
    padding: 30px;
    text-align: center;
    font-family: var(--title-font);
    font-weight: var(--title-font);
    font-size: 28px;
    padding-bottom: .4rem;
    color: var(--text-color);
}

.hubungi-text{
    font-family: var(--title-font);
    font-size: 2rem;
}

.hubungikami-text{
    font-family: var(--text-font);
}


/* ============================ Penilaian pemandu ======================= */
.penilaian{
    display: flex;
    height: 46px;
}

.penilaian span {
    display: inline-flex;
    flex-flow: row-reverse;

}



  .penilaian label{
    font-size: 2rem;
    cursor: pointer;
    color: lightgrey;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;
   
  }

  .rtl {
    direction: rtl;
  }
  .penilaian:not(:checked) > span input {
    position: absolute;
    right: 100vw;
  }
  
  .penilaian:not(:checked) > span label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  
  .penilaian:not(:checked) > span label:before {
    content: "★ ";
  }
  
  .penilaian > span input:checked ~ label {
    color: gold;
  }
  
  .penilaian:not(:checked) > span label:hover,
  .penilaian:not(:checked) > span label:hover ~ label {
    color: gold;
  }

/* ========================== Pendaftaran Pemandu ============================== */
#container-pendaftaran_pemandu{
    margin-top: 4.2rem;
}

.image_upload>input {
    display: none;
}

.text_area_pendaftaran, .label_pendaftaran, .input_pendaftaran, .gender-option{
    margin: 3px;
    font-family: var(--text-font);
}

.margin-input{
    margin-left: .15rem;
}

.text_area_pendaftaran{
    padding-left: .3rem;
}

.input_pendaftaran::placeholder, .text_area_pendaftaran::placeholder{
    font-family: var(--text-font);
}

.margin-photo{
    margin-left: .5rem;
}

.btn-kirim{
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    margin-bottom: 2rem;
    padding: .25em 1.7em;
    border-radius: 10px;
    font-family: var(--brand-font);
    font-weight: var(--title-font);
    font-size: 1.24rem;
    color: #252525;
}


.tambahkan-gambar {
    display: inline-block;
    background-color: var(--button-login-color);
    color: white;
    padding: .3em .6em;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
  }

  .tambahkan-gambar:hover {
    background-color: #3e8e41;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
}

.grid-item:nth-child(2) {
    margin-top: 10px;
}

.tambahkan-gambar {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

#selectedFileName {
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
    margin: 0 .5rem;
    font-size: var(--text-size);
}


/* ==================== Sejarah =================== */
#carousel {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.margin-sejarah{
    margin-top: 4.5rem;
}

.image-sejarah{
    height: 500px;
    width: 100%;
}

.text-sejarah p{
    font-family: var(--text-font);
    font-size: var(--text-size);
    color: var(--text-color);
}

/* ================== Login & Register ================== */
.login-page, .registrasi-page{
    display: flex;
}

.card-img{
    height: 800px;
    

   
}

.login, .registrasi {
    position: relative;
    align-self: center;
    text-align: center;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    height: 430px;
    width: 350px;
    border-radius: 5%;
}

.content-card{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 7%;
}

.card-title {
    text-align: center;
    font-family: var(--brand-font);
    font-size: 2.8125rem;
    border-radius: 7%;
}

.form-{
    margin: 1.5rem 0 1.3rem 0;
    border-radius: 7%;
}

.my-input{
    font-family: var(--text-font);
}

.my-input::placeholder{
    color: #C7C7C7;
}

.card-form-group:nth-child(1){
    margin-top: 1.5rem;
}

.card-form-group{
    margin: .7rem 0;
}

.card-form-group input[type="text"],
.card-form-group input[type="password"] {
    width: 75%;
    padding: .5rem .4rem;
    border: 2px solid #DDDDDD;
    border-radius: 6px;
    font-size: 16px;
    align-items: center;
    cursor:pointer;
}


.card-button button {
    margin-top: 1.4rem;
    padding: .5rem .3rem;
    width: 75%;
    background: #29AA26;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 10px;
    font-family: var(--text-font);
    border: none;
    cursor: pointer;
}

.card-button button:hover{
    opacity: .7;
}

.register{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #E8F3F2;
    padding: .7rem 0;
    font-family: var(--text-font);
    color: #999999;
    font-size: var(--text-size);
    border-radius: 7%;
}

.text-register{
    margin: auto;
}

.text-register a {
    color: #29AA26;
    text-decoration: none;
    font-weight: 500;
}

.text-register a:hover {
    color: #29AA26;
    opacity: .7;
}

/* =================== Peta Banda Aceh ======================== */
.peta-bandaaceh {
    border: 1px solid #252525;
    padding: 10px;
    border-radius: 10px;
    max-width: 1055px;
}

.peta_bandaaceh-margin{
    margin-top: 3.5rem;
}

.title-petabandaaceh{
    text-align: center;
}

.title-petabandaaceh h1{
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    font-size: var(--title-size);
    color: var(--text-color);
}

.map a {
    margin-top: .3rem;
    font-family: var(--text-font);
    display: block;
    text-align: center;
    color: var(--brand-color);
}

.map a:hover{
    color: var(--brand-color);
    opacity: .7;
}

/* ================ dashboard ================ */
.feather {
    width: 16px;
    height: 16px;
}

.btn-tolak{
    background-color: #EB5353;
}
  
 /* === Sidebar === */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }

  /* === Navbar ==== */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}


.form-control-light:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.circle {
    width: 135px;
    height: 140px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #007bff;
    background-color: #E2F4FF;
    color: #252525;
    font-family: var(--brand-font);
    font-style: normal;
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
}


/* ====================== Footer ==================== */
#footer {
    background-color: #76E1BC;
}

#services {
    display: flex;
    justify-content: flex-end;
}

.services-peta{
    justify-content: flex-end;
    margin-left: 5rem;
}


.footer_tujuan-text{
    font-family: var(--text-font);
}

.footer-text{
    text-decoration: none;
    font-size: 1.15rem;
    font-family: var(--brand-font);
    font-weight: var(--text-weight);
}

.footer-service-text{
    text-decoration: none;
    font-family: var(--brand-font);
    font-size: 1.08rem;
}

.footer-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    column-gap: 1.5rem;
    flex-direction: column;
}

.footer-social{
    font-size: 1.75rem;
    color: var(--footer-text-color);
    text-decoration: none;
}

.footer-social:hover{
    color: var(--footer-text-color);
    opacity: .6;
}

.footer-text:hover, .footer-service-text:hover{
    color: var(--footer-text-color);
    opacity: .6;
}

.copyright, .footer-text, .footer-service-text{
    color: var(--footer-text-color);
}

.copyright{
    font-size: .875rem;
    font-family: var(--title-font);
    font-weight: 400;
}
