@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@400;600&family=Source+Serif+Pro:wght@700&display=swap');


*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --header-height: 3rem;
    --first-color: #76E1BC;
    --second-color: #A8D672;
    --input-color: #e2f4ff;
    --brand-color: #1BB580;
    --button-color: #2BAFD9;
    --button-login-color: #29AA26;
    --number-color: #E2F4FF;
    --button-tolak-color: #EB5353;
    --text-color: #000000;
    --text-second-color: #515151;
    --text-label-color: #5B636A;
    --text-font: 'Poppins', sans-serif;
    --title-font: 'Source Serif Pro', serif;
    --brand-font: 'Patua One', cursive;
    --title-main-size: 4.063rem; 
    --brand-size: 1.45rem;
    --nav-size: 0.938rem;
    --title-size: 1.875rem;
    --text-size: 1.5rem;
    --label-size: 1.275rem;
    --title-weight: 700;
    --button-weight: 600;
    --text-weight: 400;
}

ul{
    list-style: none;
}

span{
    color: var(--brand-color);
}

/* =========================== NAV ============================== */
.nav_brand{
    font-family: var(--brand-font);
    font-size: var(--brand-size);
    color: #000000;
    margin-top: .8rem;
}

.nav_list{
    display: flex;
    align-items: center;
}

.nav_item:not(:last-child) {
    margin-right: 1rem;
}

.nav_item{
    position: relative;
}

.nav_link{
    color: var(--text-color);
    padding: .2rem .5rem;
    text-decoration: none;
    font-size: var(--nav-size);
    display: inline-block; 
    font-family: var(--text-font);
}

.nav_link:hover, .submenu a:hover{
    color: var(--text-color);
    opacity: .7;
}

.submenuwisata, .submenugaleri, .submenupemandu, .submenupengguna{
    display: none;
}

.submenuwisata.active, .submenugaleri.active, .submenupemandu.active, .submenupengguna.active{
    display: block;
}

.submenu a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--nav-size);
}

.submenu {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    top: calc(70% + 10px);
    left: 50%;
    width: 170px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: scroll;
    max-height: 80px;
}

/*================== Header ==========================*/

.header{
    /* padding: 1.8rem 0 5rem 0; */
    padding-bottom: 5rem;
    max-height: 800px;
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    max-width: 1000px;
    color: var(--text-color);
    width: 100%;
    align-self: center;
    margin: 1.1rem 2rem 0 0;
}

.header_content{
    font-size: var(--title-main-size);
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    color: var(--text-color);
}

.image_content {
    display: flex;
    width: 10%;
    height: 10%;
    margin-left: 1rem;
    justify-content: flex-end;
    align-self: center;
}

.btn-pesan, .btn-detail{
    padding: .3em 1.3em;
    border-radius: 10px;
    background-color: #1BB580;
    border: none;
}

.btn-pesan a{
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--title-font);
    font-weight: var(--title-font);
}

.btn-pesan a:hover, .btn-detail a:hover, .nav_item a:hover{
    color: var(--text-color);
    text-decoration: none;
}

.btn-pesan:hover, .btn-detail:hover{
    opacity: .7;
}

.content p{
    color: var(--text-second-color);
}

/*=======================  Halaman Pemandu Wisata ===========================*/
.title h1{
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    font-size: var(--title-size);
    padding-bottom: .4rem;
    border-bottom: 1px solid black;
    color: var(--text-color);
}

.daftar-pemandu{
    margin-top: 2rem;
    background-color: var(--second-color);
    box-shadow: 0px 6px 6spx -5px rgba(0, 0, 0, 0.75);
    border-radius: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.left-content{
    font-family: var(--text-font);
    font-size: 1.375rem;
    color: var(--text-color);
    margin: 1rem 1rem 0 2rem;
}

.right-content{
    margin: .14rem .89rem;
    display: flex;
}

.button-detail{
    align-self: flex-end;
    margin: 0 2rem .7rem 0;
}

.detail-pemandu{
    font-size: 1.05rem;
    font-family: var(--title-font);
    padding: .4rem 1.2rem;
    text-decoration: none;
    color: var(--text-color);
}

.btn-detail{
    background-color: var(--button-color);
    border-color: var(--button-color);
}


/* =========================== Halaman Detail Pemandu ================================= */
.detail-content {
    display: flex;
    justify-content: space-between;
    background-color: #76E1BC;
    border-radius: 3.125rem;
    padding: 1.8rem 3rem;
    margin: 2rem 0;
}

.mb-1 label{
    font-family: var(--text-font);
    font-size: var(--label-size);
    color: var(--text-label-color);
    font-weight: var(--text-weight);
}

.biodata-pemandu {
    float: left;
    width: 75%;
}

.foto-pemandu {
    margin-top: 1.9rem;
    float: right;
}

.form-control{
    border: 1px solid black;
}

/* ====================== Tempat Wisata ========================== */
.blurb h1{
    font-family: var(--brand-font);
    font-size: var(--title-size);
}

.blurb p{
    font-family: var(--text-font);
    font-size: var(--nav-size);
    line-height: 1.7;
}


/* ============================= Hotel ============================== */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    opacity: .85;
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
}

.swiper-button-next::after{
    border-width: 16px 0 16px 23px;
    transform: translate(-50%, -50%);
}


.swiper-button-prev::after{
    transform: translate(-50%, -50%) rotate(180deg);
    border-width: 16px 0 16px 23px;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
}


.swiper-button-prev {
    left: 15px;
}

.swiper-button-next {
    right: 30px;
}

.custom-swiper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
} 

/* ===================== Halaman Hubungi ==================== */
.hubungi{
    padding: 30px;
    text-align: center;
    font-family: var(--title-font);
    font-weight: var(--title-font);
    font-size: 28px;
    padding-bottom: .4rem;
    color: var(--text-color);
}
